* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer {
    /* border: 2px solid; */
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

h2, h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.table-con {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    border-top: 1px solid;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5rem;
}

th {
    position: sticky;
    top: 0;
    text-decoration: underline;
    /* background-color: white; */
    /* text-align: left; */
}


td {
    font-size: 1.05rem;
}

.edit-btn {
    padding: 0.3rem 1.5rem;
    border: 1px solid;
    border-radius: 0.2rem;

    border-radius: 1rem;
}

.del-btn {
    padding: 0.3rem 1rem;
    border: 1px solid;
    border-radius: 0.2rem;

    border-radius: 1rem;
}

.add-btn {
    padding-top: 1rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.add-btn button {
    padding: 0.5rem 1.5rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.edit-btn:hover, .del-btn:hover, .add-btn button:hover {
    cursor: pointer;
    background-color: oklch(44.6% 0.03 256.802);
    transition: background-color 300ms ease;
}

.screen-msg {
    display: none;
    text-align: center;
}

@media (max-width : 700px)
{
    .screen-msg {
        display: block;
    }

    .inner {
        display: none;
    }
}